<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/surfshop.css">
</head>
<body>

<!-- app content here -->
<table class="blueTable">
    <thead>
      <tr>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
  </table>
<script type="text/template" id="surfboard-template">
  <td><%= manufacturer %></td>
  <td><%= model %></td>
  <td><%= stock %></td>
</script>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="app/app.js"></script>

</body>
</html>

 <!--first table iteration - going for more programmatic approach now-->
<!--<table class="blueTable">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Manufacturer</th>-->
<!--      <th>Model</th>-->
<!--      <th>Stock</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tfoot>-->
<!--<tr>-->
<!--<td colspan="4">-->
<!--<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>-->
<!--</td>-->
<!--</tr>-->
<!--  </tfoot>-->
<!--  <tbody id="table-body"></tbody>-->
  
<!--</table>-->

